Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [83]:
import pandas as pd
stats = pd.read_csv('Desktop/PITHON1/ml-latest-small/ratings.csv')
movies = pd.read_csv('Desktop/PITHON1/ml-latest-small/movies.csv')
def rating(row):
    if row <= 2:
        return 'низкий рейтинг'
    elif row > 2 and row <= 4:
        return 'средний рейтинг'
    return 'высокий рейтинг'
stats['class'] = stats['rating'].apply(rating)
joined = stats.merge(movies, on='movieId', how='left')
joined.head(10)

,userId,movieId,rating,timestamp,class,title,genres
0,1,31,2.5,1260759144,средний рейтинг,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,средний рейтинг,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,средний рейтинг,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,низкий рейтинг,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,средний рейтинг,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama
5,1,1263,2.0,1260759151,низкий рейтинг,"Deer Hunter, The (1978)",Drama|War
6,1,1287,2.0,1260759187,низкий рейтинг,Ben-Hur (1959),Action|Adventure|Drama
7,1,1293,2.0,1260759148,низкий рейтинг,Gandhi (1982),Drama
8,1,1339,3.5,1260759125,средний рейтинг,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller
9,1,1343,2.0,1260759131,низкий рейтинг,Cape Fear (1991),Thriller

Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [73]:
import pandas as pd
keys = pd.read_csv('Desktop/PITHON1/keywords.csv')
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

def geoclass(row):
    for key, el in geo_data.items():
        for i in el: #как-то криво, но по другому не получилось
            if i in row.split(): #сделала чтобы возвращалось только полное совпадение без вариаций
                return key
    return 'undefined'

keys['region'] = keys['keyword'].apply(geoclass)
filtered = keys[ (keys['keyword'].str.contains('хабаровск')) ]  
filtered.head(10)

                              keyword  shows          region
2175                   дром хабаровск  98361  Дальний Восток
3687                  авито хабаровск  63736  Дальний Восток
6260                фарпост хабаровск  40962  Дальний Восток
8039              погода в хабаровске  33437       undefined
9084                        хабаровск  29655  Дальний Восток
9293                 100 сп хабаровск  29475  Дальний Восток
10261           дром хабаровский край  27062       undefined
14637  презент хабаровск свежий номер  20524  Дальний Восток
16474             работа в хабаровске  18284       undefined
26175               презент хабаровск  12394  Дальний Восток

Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [154]:
import pandas as pd
def production_year(row):
    year = range(1950, 2011)
    for el in year:
        x = str(el)
        if x in row:
            return el
    return 1900
joined['year'] = joined['title'].apply(production_year)
joined.groupby('year').mean().sort_values('rating', ascending=False).head(10)

          userId      movieId    rating     timestamp
year
1957  360.933544  2750.965190  4.014241  1.083707e+09
1972  359.694878  3983.538976  4.011136  1.122759e+09
1952  346.394737  4107.796053  4.000000  1.090512e+09
1954  358.228324  2867.661850  3.994220  1.070591e+09
1951  347.106996  2605.588477  3.983539  1.052714e+09
1974  357.181481  3956.801852  3.978704  1.112526e+09
1962  350.671196  3479.100543  3.952446  1.094200e+09
1950  355.720339  3503.427966  3.915254  1.090648e+09
1977  351.040059  3604.516320  3.905786  1.116007e+09
1964  347.275058  3557.843823  3.841492  1.110870e+09