Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.
Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.
Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [77]:
import pandas as pd
#page_url = 'https://grouplens.org/datasets/movielens/25m/'
ratings = pd.read_csv('ml-25m/ml-25m/ratings.csv')
movies = pd.read_csv('ml-25m/ml-25m/movies.csv')
joined = ratings.merge(movies, on='movieId', how='left')
filtered_movies = joined[ (joined['rating']==5.0) ]
#filtered_movies.sort_values(by=['movieId'], ascending=[True]).head(50)
filtered_movies.groupby('title').count().sort_values('movieId', ascending=False).head(10)

,userId,movieId,rating,timestamp,genres
title,,,,,
"Shawshank Redemption, The (1994)",39553,39553,39553,39553,39553
Pulp Fiction (1994),32169,32169,32169,32169,32169
Forrest Gump (1994),25918,25918,25918,25918,25918
Star Wars: Episode IV - A New Hope (1977),25804,25804,25804,25804,25804
"Matrix, The (1999)",25482,25482,25482,25482,25482
Schindler's List (1993),24853,24853,24853,24853,24853
"Silence of the Lambs, The (1991)",24801,24801,24801,24801,24801
"Godfather, The (1972)",24418,24418,24418,24418,24418
"Usual Suspects, The (1995)",21585,21585,21585,21585,21585
Fight Club (1999),21486,21486,21486,21486,21486

In [57]:
import pandas as pd
data = pd.read_csv('power.csv')
filtered_countries = data[ ((data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')) & ((data['category']==12) | (data['category']==4) | (data['category']==12) | (data['category']==21)) & ((data['year']>=2005) & (data['year']<=2010)) & ((data['quantity']>0))]
#filtered_countries.sort_values(by=['quantity', 'country', 'year', 'category'], ascending=[True, True, False, False]).head(50)
summa = filtered_countries[['quantity']].sum()
print(summa)

quantity    240580.0
dtype: float64

In [10]:
import pandas as pd
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
df = pd.read_html(page_url, encoding='utf-8')[1]
df.head()

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,951299,-,948703,"0,27 %",02596,10:15:00
1,NaN,EUR/RUB,839315,-,839955,"-0,08 %",-00640,10:14:00
2,NaN,USD/RUB,771998,-,771310,"0,09 %",00688,10:14:00
3,NaN,JPY/RUB,07180,-,07161,"0,26 %",00019,10:15:00
4,NaN,CNY/RUB,109002,-,109069,"-0,06 %",-00067,10:14:00